*{
    font-size: 25px;
}
h1 {
    text-decoration: underline;
}
ol {
    list-style-type: circle;
}
ol li {
    color: blue;
}
ul span{
    font-weight: bold;
}
ul a{
    color: red;
}
p2 a {
    background-color: yellow;
}
p a{
    color: orange;
}
p > samp{
    color: blue;
}

